// contient le style a afficher pour le format tablet et desktop

body{
  // affiche le bandeau du profiler de symfony en bleu sombre
  .sf-toolbarreset{
    background-color: #244657;
  }
}
p {
  color: green;
}

div{
  background:yellow;

}
.tt{
  display:none;
}