{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-sm bg-black">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link" href="/thesis">Presentation</a>
                    </li>
                    
                </ul>
                </nav>
            
<h1>Bienvenue</h1>
             
{% endblock %}
