
{% extends 'base.html.twig' %}

{% block title %}Hello ThesisController!{% endblock %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<h1>Adopte une thèse</h1>
<div>
<ul>
    {% for EcoleDoctorale in  EcoleDoctorales %}
    <h2>{{EcoleDoctorale.nom}}</h2>
    <h2>{{EcoleDoctorale.lien}}</h2>
    </div>
    <ol>
            {% for these in  EcoleDoctorale.theses %}

    <li>{{these.Titre}}</li>
    <li>{{these.contact}}</li>
    <li>{{these.phraseAccroche}}</li>
            {% endfor %}
    </ol>

    {% endfor %}
    </ul>

{% endblock %}






