



<div class="example-wrapper">

<div style='padding:15px'>

<h2>Titre : {{titre}} </h2>
<h3>phrase d'accroche</h3>

<div class="tt" style='background-color:white;border:1px solid black'>{{Description}}
</div>
Contacte:{{contact}}</div>
</div>


