// ajouter les régles scss qui concernent les couleur globales du site
// en règle générale, un site possède 2 à 3 couleurs, 1 principale et 1,2 secondaires

.colo-main{
  // background-color: .
  p {
    color: green;
}
}

.color-second{

}

.color-second2{

}

// couleur des liens

// couleur des boutons

// ...