<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}{{ encore_entry_link_tags('globalStyle') }}{% endblock %}
       


        <link rel="stylesheet" 
        href="https://bootswatch.com/4/flatly/bootstrap.min.css">
        
    </head>
    <body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

</nav>

        {% block body %}{% endblock %}
       
        {% block javascripts %} 
        {{ encore_entry_script_tags('globalJS') }}
        {% endblock %}
    </body>
</html>